/* 字体引入 */
@font-face {
    font-family: YSHST;
    src: url(/font/优设好身体.woff2);  
    font-display: swap;
  }
  
  @font-face {
    font-family: MiSans;
    src: url(/font/MiSans.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: HYTMR;
    src: url(/font/HYTangMeiRen55W.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: LXGW;
    src: url(/font/霞鹜文楷.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: TTQHB;
    src: url(/font/甜甜圈海报字体.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: Consolas_1;
    src: url(/font/Consolas.woff2);
    font-display: swap;
  }
  
  @font-face {
    font-family: ZhuZiAWan;
    src: url(/font/ZhuZiAWan2.woff2);
    font-display: swap;
  }

  /* 欢迎信息 */
#welcome-info {
  background: linear-gradient(45deg, #b9f4f3, #e3fbf9);
  border-radius: 18px;
  padding: 8px;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}

